* {
    padding: 0;
    margin: 0;
    user-select: none;
}
body {
    height: 100%;
    width: 100%;
    background: #FFFFFF;
}
.scroll_up {
    color: #ff0000;
    user-select: none;
    font-size: 75px;
    cursor: pointer;
    position: fixed;
    top: 150%;
    left: 93%;
    transition: 0.5s;
}
.scroll_up:hover { color: #940606; }
.cut-block {
    background-image: url(imgcss/razdelitel_img.png);
    height: 69px;
    width: 100%;
}
.wrapper { height: 100%; }



.leader-block {
    height: 875px;
    background: #FFFFFF;
}
.lb-all-items { margin-top: 100px; }


.lesya-bio {
    position: absolute;
    top: 200px;
    left: 0px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    width: 30%;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 300px;
}

.leader-text {
    position: relative;
    top: -20px;
    left: 0px;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    color: #FF0000;
}

.sub-text {
    position: relative;
    top: 10px;
    left: 0px;
    font-size: 20px;
    border-bottom: 1px solid #000;
    width: 100%;
}

.lesya-photo {
    position: relative;
    top: -480px;
    left: 700px;
    height: 100px;
    width: 100px;
}
.lesya-photo img {
    height: 500px;
    width: 700px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    border-radius: 30px;
}



.first-block {
    margin-top: 100px;
    background-color: #FFDEDE;
    height: 1000px;
    width: 89%;
    padding: 100px;
}

.fb_leader-text span {
    display: flex;
    position: relative;
    top: 0px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
}

.fb_all-texts {
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
}

.fb_text-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.fb_text-description {
    font-family: 'Balsamiq Sans', cursive;
}



.second-block {
    background-color: #FFFFFF;
    height: 1040px;
    width: 100%;
}

.second-block-img img {
    position: absolute;
    top: 2650px;
    left: 300px;
    float: left;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    border-radius: 30px;
}

.sb-all-texts { margin: 100px; }

.second-block-leader-text {
    position: relative;
    top: 220px;
    left: 950px;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
}

.second-block-sub-text {
    position: relative;
    top: 270px;
    left: 950px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    width: 30%;
}



.third-block {
    background-color: #FFDEDE;
    height: 1040px;
    width: 100%;
}

.third-block-img img {
    position: absolute;
    top: 3800px;
    left: 300px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    border-radius: 30px;
}

.tb-all-texts { margin: 100px; }

.third-block-leader-text {
    position: relative;
    top: 230px;
    left: 950px;
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
}

.third-block-sub-text {
    position: relative;
    top: 280px;
    left: 950px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    width: 40%;
}



.last-block { 
    height: 920px;
    width: 100%; 
}

.last-block-imgs {
    position: absolute;
    top: 4750px;
    left: 500px;
    display: flex;
}

.last-all-texts {
    position: relative;
    top: 450px;
    left: 790px;
    width: 50%;
}
.last-block-leader-text {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}
.last-block-sub-text {
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

.lastblock-1-img,.lastblock-2-img,.lastblock-3-img,.lastblock-4-img,.lastblock-5-img { margin-right: 30px; }
.lastblock-1-img, .lastblock-5-img { padding-top: 100px; }
.lastblock-3-img { padding-top: 70px; } 
